<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Willem Dafoe</string>
	<string>Scottie Pippen</string>
	<string>Oliver Twist</string>
	<string>Rusty Shackleford</string>
	<string>Hank Hill</string>
	<string>David Copperfield</string>
	<string>Michael Jordan</string>
	<string>Barack Obama</string>
	<string>Alan Turing</string>
	<string>Dennis Ritchie</string>
	<string>Elon Musk</string>
	<string>Boy George</string>
	<string>Oprah</string>
	<string>Clint Eastwood</string>
</array>
</plist>
